.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #dad5eb;
    text-align: center;
  }

  .big-icon{
    font-size: 15px;
    margin-left: 15px;
  }

  .github-link{
    color: rgb(30, 3, 42);
  }