.bg-light {
    background-color: #dad5eb;
  }

  .big-icon{
    font-size: 15px;
    margin-left: 15px;
  }

  ul {
    list-style-type: none;
    margin-left: 5%;
    padding: 0;
    overflow: hidden;
    color: black;
  }

  li {
    float: left;
    font-size: 16px;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #beb6da;
  }
