<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand">Cocktail Club</a>
          </li>
            <li class="nav-item">
              <a class="nav-link">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Admin Creates new Cocktail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Admin Pending Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Admin Approved Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Admin Statistic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Complaints and recommendations</a>
            </li>
            <li class="nav-item"  *ngIf="!authService.isAuthenticated()">
                <a class="nav-link border-none" (click)="openLoginModal()">Login <fa-icon [icon]="faLogin"></fa-icon></a>
            </li>
            <li class="nav-item"  *ngIf="!authService.isAuthenticated()">
              <a class="nav-link border-none" (click)="openRegisterModal()">Register <fa-icon [icon]="faRegister"></fa-icon></a>
            </li>
            <li class="nav-item"  *ngIf="authService.isAuthenticated()">
                <a class="nav-link border-none" (click)="logout()">Logout <fa-icon [icon]="faLogout"></fa-icon></a>
            </li>
          </ul>
    </nav>
</div>
