<nav class="navbar  navbar-expand-md navbar-expand-lg navbar-light bg-light w-100">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand">Cocktail Club</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu">Menu</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.isAdmin()">
            <a class="nav-link">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Cart</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.isAdmin()">
            <a class="nav-link" routerLink="/admin/drink/create">Create New</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.isAdmin()">
            <a class="nav-link">Admin Pending Orders</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.isAdmin()">
            <a class="nav-link">Admin Approved Orders</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && authService.isAdmin()">
            <a class="nav-link">Admin Statistic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Complaints and recommendations</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"  *ngIf="!authService.isAuthenticated()">
              <a class="nav-link border-none" (click)="openLoginModal()">Login <fa-icon [icon]="faLogin"></fa-icon></a>
          </li>
          <li class="nav-item"  *ngIf="!authService.isAuthenticated()">
            <a class="nav-link border-none" (click)="openRegisterModal()">Register <fa-icon [icon]="faRegister"></fa-icon></a>
          </li>
          <li class="nav-item"  *ngIf="authService.isAuthenticated()">
              <a class="nav-link border-none" (click)="logout()">Logout <fa-icon [icon]="faLogout"></fa-icon></a>
          </li>
      </ul>
  </nav>
