<div class="card">
    <img src="{{drink.image}}" width="100%"/>
    <h4 >{{drink.name}} </h4>
    <p class="text-uppercase"> <b>id:</b> {{drink._id}} </p>
    <p class="text-uppercase"> <b>Recipe By</b>: {{drink.recipeBy}} </p>
    <p class="text-uppercase"> <b>ingredients:</b> {{drink.ingredients}} </p>

    <p> <b>Price:</b> {{drink.price}} </p>
    <p> <b>Weight:</b> {{drink.weight}} </p>
    <p> <b>Likes:</b> {{drink.likes}} </p>
    <p><b>Reviews:</b> {{drink.reviews}} </p>

    <button type="button" class="btn btn-primary float-left btn-sm custom-button" routerLink="/drink/details/{{drink._id}}">Details</button>

</div>
