<div  > 
    <img src="{{drink.image}}" width="100%"/>
    <h3 >{{drink.name}} </h3>
    <p class="text-uppercase"> id: {{drink._id}} </p>
    <p class="text-uppercase"> Recipe By: {{drink.recipeBy}} </p>
    <p class="text-uppercase"> ingredients: {{drink.ingredients}} </p>
    <p> Description: {{drink.description}} </p>
    <p class="text-uppercase"> ingredients Info: {{drink.ingredientsInfo}} </p>
    <p> Price: {{drink.price}} </p>
    <p> Weight: {{drink.weight}} </p>
    <p> Likes: {{drink.likes}} </p>
    <p>Reviews: {{drink.reviews}} </p> 
</div>
