<div class="col-md-12">
  <div class="single-drink">
      <div class="drink-img" routerLink="/drink/details/{{drink._id}}">
          <img src="{{drink.image}}" width="100%">
      </div>
      <div>

          <h4>{{drink.name}}</h4><br/>
          <p><b>Recipe:</b> {{drink.recipeBy}}</p>
          <p class="text-wrap text-break fw-light"><b>Ingredients: </b> <span class="text-uppercase">{{drink.ingredients}}</span></p><br/>
          <div class="fw-light">
              <p>
                <b>Weight: </b><span class="fw-light text-black-70">{{drink.weight}}</span>
              </p>
              <p>
                <b>Price: </b><span class="fw-light text-black-70">${{drink.price}}</span>
              </p>
              <p>
                <b>Reviews: </b><span class="fw-light text-black-70"> {{drink.reviews}}</span>
              </p>
              <p>
                <b>Likes: </b><span class="fw-light text-black-70"> {{drink.likes}}</span>
              </p>
              <p>
                <b routerLink="/drink/details/{{drink._id}}">more</b>
              </p>

              <button class="btn btn-outline-warning  btn-md" *ngIf="authService.isAdmin()" routerLink="/admin/drink/edit/{{drink._id}}"><i class="fa fa-edit"></i>Modify</button>
          </div>
      </div>
  </div>
</div>
